<!-- Join Room / Password Modal -->
<div class="modal fade" id="joinRoomModal" tabindex="-1" aria-labelledby="joinRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
        <div class="modal-content glass-card border-0 text-center p-2">
            <div class="modal-body">
                <h3 class="text-white mb-2">Private Room</h3>
                <p class="text-white-50 small mb-4">Enter 6-digit access code for
                    <span id="joinRoomName" class="text-primary"></span>
                </p>
                <div class="d-flex justify-content-center gap-2 mb-4" id="passcodeInputs">
                    <input type="text" class="form-control passcode-input text-center" maxlength="1"
                        style="width: 45px;">
                    <input type="text" class="form-control passcode-input text-center" maxlength="1"
                        style="width: 45px;">
                    <input type="text" class="form-control passcode-input text-center" maxlength="1"
                        style="width: 45px;">
                    <input type="text" class="form-control passcode-input text-center" maxlength="1"
                        style="width: 45px;">
                    <input type="text" class="form-control passcode-input text-center" maxlength="1"
                        style="width: 45px;">
                    <input type="text" class="form-control passcode-input text-center" maxlength="1"
                        style="width: 45px;">
                </div>
                <div id="joinError" class="text-danger small mb-3"></div>
                <div class="d-flex gap-2">
                    <button class="btn btn-dark flex-grow-1" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary flex-grow-1" id="verifyBtn" onclick="verifyRoom()">Join</button>
                </div>
            </div>
        </div>
    </div>
</div>