<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro Rooms</title>
    {% block conections %}
    <!-- Extra head content (CSS, meta, etc.) -->
    {% endblock %}
</head>
<body>
    {% block header %}
    <!-- header content goes here -->
    {% endblock %}

    {% block body%}
    <!-- Main content goes here -->
    {% endblock %}

    <footer>
        {% block footer %}
        <!-- Footer content -->
        {% endblock %}
    </footer>

</body>
</html>
